/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.dibujo {
	-fx-background-color: white;
	-fx-border-color: gray;
}

.control {
    -fx-border-color: gray;
    -fx-border-style: dotted;
	/*-fx-border-width: 150;*/
}

.buttons{
	
}

.body{
	-fx-background-color: black;
}